*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* automatically inherit the bodys box-sizing */
}

html {
  /* font-size: 10px; */
  /* Defines what 1rem is: we want 10px but change to percent if the user changes the font size in the browswer 10 / 16 = .625 */
  font-size: 62.5%;

  // DESCENDING ORDER

  @include respond(big-desktop) {
    font-size: 75%; //  1 rem = 12px, 12 / 16 = 75%
  }

  // width < 1200
  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px, 9 / 16 = 56.25%
  }

  // width < 900
  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px, 8 / 16 = 50%
  }
}

body {
  padding: 3rem; /* was 30px, but root font-size is 10px so 30 / 10 is 3rem */
  box-sizing: border-box;

  @include respond(tab-land) {
    padding: 0;
    margin: 0;
  }
}
